# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.root
*rdict.pcm
*dictContent.h
*dictUmbrella.h
*.cxx_tmp_*
*.pdf

*.index
*.pb
*Step?_*
__pycache__
savedModels
